/*set height of the component*/
:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  flex: 0 0 auto; /* Header won't grow or shrink, initial size based on content */
}

main {
  flex: 1 1 auto; /* Main will grow and shrink, initial size based on content */
}

footer {
  flex: 0 0 auto; /* Footer won't grow or shrink, initial size based on content */
}

nav {
  display: flex;
  justify-content: space-between;
}

.color {
  color: blue;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  color: grey;
}

.example-spacer {
  flex: 1 1 auto;
}

.spacer {
  margin: 0 5px; /* Adjust the margin value as per your preference */
}
