nav {
  display: flex;
  justify-content: space-between;
}

.color {
  color: blue;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  color: grey;
}
/*set height of the app-layout component*/
:host {
  min-height: 100vh;
  background-color: yellow;
  display: flex;
  flex-direction: column;
}

/*set properties for each child mat-tooltip-component*/
header {
  /*flex-grow: 0;*/
  flex: 0 0 auto; /* Header won't grow or shrink, initial size based on content */
}

main {
  /*flex-grow: 1;*/
  flex: 1 1 auto; /* Main will grow and shrink, initial size based on content */
}

footer {
  /*flex-grow: 0;*/
  flex: 0 0 auto; /* Footer won't grow or shrink, initial size based on content */
}
