<table>
  <tr *ngFor="let todo of todo$ | async">
    <td><input type="checkbox" [checked]="todo.checked" (change)="onToggle(todo)"></td>
    <td (click)="startEditing(todo)">
      <ng-container *ngIf="!editing || editingTodo.id !== todo.id; else editField">
        {{ todo.task }}
      </ng-container>
      <ng-template #editField>
        <input type="text" [(ngModel)]="editingTodo.task" (keyup.enter)="onEditDone()" (blur)="onEditDone()">
      </ng-template>
    </td>
    <td><button (click)="delete(todo.id)">Delete</button></td>
  </tr>
  <tr>

    <ng-container *ngIf="!adding; else addingField"></ng-container>
    <ng-template #addingField>
      <input type="checkbox">
<!--      <input type="checkbox" [checked]="todo.checked" (change)="onToggle(todo)">-->
      <input type="text" [(ngModel)]="addingTodo.task" (keyup.enter)="onAddingDone()" (blur)="onAddingDone()">
    </ng-template>
  </tr>
</table>

<button (click)="startAdding(todo$)">+</button>


