header {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: white;
}

main {
  margin-top: 56px;
  padding-top: 14px;
  margin-bottom: 48px;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: white;
}

.disabled {
  cursor: not-allowed;
  color: grey;
}

.spacer {
  flex: 1 1 auto;
}
