<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>To Do's</span>
      <span class="spacer"></span>
      <button mat-button (click)="startDeleting()" [ngClass]="{ 'disabled': deleting || (filteredTodos$ | async)?.length === 0 || adding || editing }" [disabled]="deleting || (filteredTodos$ | async)?.length === 0 || adding || editing"> Delete</button>
      <ng-container *ngIf="!adding && !editing && !deleting; else doneButton">
      </ng-container>
      <ng-template #doneButton>
        <button mat-button (click)="adding? onAddingDone(): editing? onEditDone(): onDeleteDone()" >Done</button>
<!--        <button mat-button (click)="adding? onAddingDone(): editing? onEditDone(): onDeleteDone()" [ngClass]="{ 'disabled': (addingTodo.task) === '' }" [disabled]="(addingTodo.task) === ''">Done</button>-->
      </ng-template>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<main>
  <table>
    <tr *ngFor="let todo of sortedTodos$ | async">
      <td>
        <mat-checkbox [checked]="todo.checked" (change)="onToggle(todo)"></mat-checkbox>
      </td>
      <td (click)="startEditing(todo)">
        <!-- conditional render of EDIT field -->
        <ng-container *ngIf="!editing || editingTodo.id !== todo.id; else editingField">
          {{ todo.task }}
        </ng-container>
        <ng-template #editingField>
          <input matInput #editingInput [(ngModel)]="editingTodo.task" (keyup.enter)="onEditDone()" (blur)="onEditDone()">
        </ng-template>
      </td>
      <!-- conditional render of DELETE button -->
      <ng-container *ngIf="!deleting || adding; else deleteButton"></ng-container>

      <ng-template #deleteButton>
        <td>
          <button mat-icon-button color="primary" aria-label="Icon button with delete icon" *ngIf="todo.checked" (click)="delete(todo.id)">
            <mat-icon class="material-symbols-outlined">delete</mat-icon>
          </button>
        </td>
      </ng-template>
      <!-- end of conditional render -->
    </tr>
    <!-- conditional render of ADDING field -->
    <ng-container *ngIf="!adding; else addingField">
    </ng-container>
    <ng-template #addingField>
      <tr>
        <td><mat-checkbox></mat-checkbox></td>
          <td>
            <input matInput #addingInput [(ngModel)]="addingTodo.task" [placeholder]="addingTodo.task === '' ? 'Enter a new task' : ''" (keyup.enter)="onAddingDone()" (blur)="onAddingDone()">
          </td>
        </tr>
      </ng-template>
      <!-- end of conditional render -->
    </table>
  </main>

  <footer>
    <ng-container *ngIf="!adding; else nothing">
      <button mat-icon-button color="primary" aria-label="Icon button with add-circle icon" (click)="startAdding()">
        <mat-icon class="material-symbols-outlined">add_circle</mat-icon>
        <!--<mat-icon class="material-symbols-outlined">add</mat-icon>-->
      </button>
    </ng-container>
    <ng-template #nothing></ng-template>
  </footer>





